* { padding: 0; margin: 0; }
@font-face {
  font-family: fonte1;
  src: url('./fonts/font1.ttf');
}
html, body {
    margin:0px;
    min-height: 100% !important;
    height:100% !important;
    overflow: hidden;
    background-size: cover;
  }
  .caixaT{
      height: 100%;
      display: grid;
      grid-template-columns: 100% 0%;
  }
  .CaixaMapa{
    background-attachment: fixed;
    z-index: 1;
  }
  .mapa{
    height: 100%;
    width: 100%;
    border: 2px solid #212529;
  }
  ol li{
    font-family: fonte1;
    list-style-type: none;
    text-transform: uppercase;
  }
 .CaixaInfo{
   display: none;
   text-align: center;
    position:absolute;
    z-index: 5;
    left:70%;
    height: 100%;
    width: 30%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    }
    .topT{
      display: grid;
      grid-template-columns:60% 40%;
    }
    .middleT{
      display: grid;
      grid-template-columns:50% 50%;
    }
    .txttemp{
      font-size: 60px;
    }