
  div {
    padding-top: 0x;
    padding-right: 0px;
    padding-bottom:200px;
    padding-left: 0px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
    }
    #container {
      width: 50px;
      height: 50px;
   }
   #alinhar{
    float:right; margin-top:50px; 
   }
   #alinhar2{
    margin-top:100px; 
   }
   #container img {
      width: 100%;
   }
  
   

  
  
       body {
    background-image: url("https://cdn.discordapp.com/attachments/757649913436831857/902990004639383572/mapa.png");
    background-size: 110%;
    }
    
   
  
  p {
    font-family: verdana;
    font-size: 20px;
  }