#NavbarHeader{
    background-color: transparent !important;
    z-index: 1;
    
}
#containerHeader{
    padding-top: 10px !important;
    padding-left: 10px !important;
}

.dropdown-toggle::after {
  display: none !important; 
}

#socialHeader{
  width: 20px;
  height: 20px;
}

.header-sidebar-open {
  width: 70% !important /* Altura reduzida quando a barra lateral está aberta */
}

#imgHeader{
       filter: drop-shadow(1px 1px 5px black);
       padding-top: 10px !important;
       padding-left: 10px !important;
}

#btnHeader{
    border: none;
    background: none;
    color: #8b8ba7;
    padding: 0px;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 5px;
    background: var(--input-bg,#fff);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 1px 5px black);
    z-index: 10 !important;
}
#navEndHeader{
  width: 50px;
}
#dropdown-menu {
  right: 0;
  left: auto;
}
#olHeader{
  padding-top: 20px !important;
  margin: 0px !important;
  padding-left: 0px !important;
  display: none;
  height: 100%;
}
#olHeader li {
  list-style-type: none;
  text-transform: uppercase;
}
@media(max-width:950px) {
  #basic-navbar-nav{
    margin-top: 10px !important;
    padding-top: 20px !important;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    height: 200px;
  }
  #btnHeader{
    margin-top: 20px;
    display: none;
  }
  #olHeader{
    display: block;
  }
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
    padding-bottom: 5px;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 50%;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #ec6e4c;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
    filter: drop-shadow(1px 1px 5px black);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100% ;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
